name: My workflow
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Weather check
        uses: nachiketshilwant1/Optacloud_Actions@main
        with:
          city: 'Ahmednagar'
          api-key: ${{ secrets.WEATHER_API_KEY }}
